# Python Arithmetic Operators

Additon (+)

In [1]:
1+2+3+4+5+6

21

In [19]:
1+0.3+0.5+5+7+9.45

23.25

Subtraction (-)

In [20]:
1-2-3-4

-8

In [21]:
1-0.4-9.6

-9.0

Multiplication (*)

In [22]:
2 * 4 * 0.5678

4.5424

In [23]:
2.987 * -94.67

-282.77929

Division (/)

In [24]:
1/2

0.5

In [25]:
-0.678/-5679.98867

0.00011936643528551265

Divison (Floor) (//)

In [45]:
5 / 1.5678

3.1891822936599055

In [46]:
43 / 9

4.777777777777778

Power of (**)

In [26]:
2 ** 3 ** 4

2417851639229258349412352

In [27]:
2 ** 4

16

 Parentheses Exponentiation Multiplication Division Addition Subtraction

In [28]:
2 + 3 * 5 + 5

22

In [29]:
(2+3) ** 4 * 5 / 50

62.5

Modulus (Remainder)

In [31]:
4 % 2

0

In [32]:
0.5 % 4

0.5

# Python Assignment Operators

=

In [33]:
var = 2

In [34]:
var

2

In [35]:
x = 2
y = 3

In [36]:
x + y

5

In [37]:
x = x + x

In [38]:
x

4

+=

In [40]:
x += 3  # x = x + 3

In [41]:
x

7

Similarly -=, *=, /=, %=, //=, * *=

## Data Types

Strings

In [48]:
'single quote'

'single quote'

In [50]:
"double quote"

'double quote'

In [51]:
x = 'hello'

In [52]:
x

'hello'

In [53]:
name = 'Sujita'
age = 19

In [55]:
'Hey there, {} congrats on turning {}'.format(name, age)

'Hey there, Sujita congrats on turning 19'

In [57]:
print('Hey there, {} congrats on turning {}'.format(name, age)) # the Out[] wont be there with print function

Hey there, Sujita congrats on turning 19

In [62]:
print('I am {one} and I am currently {two}, three days back it was {two} as well'.format(one = name, two = age))
# we can change order of format here

I am Sujita and I am currently 19, three days back it was 19 as well

Arrays (collection of items of same data type)

In [63]:
s = 'hello'

In [64]:
s [0]  # indexing

'h'

In [65]:
s[0:]  # slicing

'hello'

In [67]:
s[:3]  # upto and not including index 3

'hel'

In [69]:
s[1:4] # from 1 to before 4

'ell'

Lists (Collection of items of multiple data type)

In [80]:
['a', 'b', 'c']

['a', 'b', 'c']

In [81]:
my_list = ['a', 'b', 'c']

In [82]:
my_list.append('d')  # Adding an item to the end of the list

In [83]:
my_list

['a', 'b', 'c', 'd']

In [84]:
my_list[0]  # indexing in list

'a'

In [85]:
my_list[1:3] # slicing in list from 1 to before 3

['b', 'c']

In [86]:
my_list[1] = 'REPLACED SUCCESSFULLY'  # replacing elements in list

In [87]:
my_list

['a', 'REPLACED SUCCESSFULLY', 'c', 'd']

In [89]:
nest = [1, 2, [3, 4], 5] # nesting list inside another list

In [90]:
nest

[1, 2, [3, 4], 5]

In [91]:
nest[2] # list index 2 / second list

[3, 4]

In [94]:
nest[2][1] # list index 2/ second list, element 1

4

In [95]:
nest = [1, 2, 3, [4, 5,['target']]] # a list can contain multiple data type elements

In [100]:
nest[3][2]

['target']

In [101]:
nest[3][2][0]  # 0 will remove the brackets

'target'

Dictionary (Collection of keys and their values)

In [102]:
d = {'key1':'value', 'key2':'123'} # dictionary structure {'key':'its value'}

In [104]:
d['key2']  # give key to get its value

'123'

In [106]:
d = {'city' : ['New York', 'Calcutta', 'California', 'Tokyo', 1, 2, 3]} # supports multi data type

In [107]:
d['city']

['New York', 'Calcutta', 'California', 'Tokyo', 1, 2, 3]

In [113]:
d['city'][1] # indexing

'Calcutta'

In [127]:
d = {'k1':{'innerkey':[1,2,3]}} # nesting in dictionaries

In [132]:
d['k1']['innerkey']  # calling the inner key under one key

[1, 2, 3]

In [134]:
d['k1']['innerkey'][2] # indexing of inner key under one key

3

Tuples (like lists but cannot be modified, are ordered, we cant reassign values)

In [139]:
t = (1, 2, 3)

In [140]:
t[0]

1

Sets (Collection of unique elements, almost like lists but it does not allow duplicate values)

In [143]:
{1, 2, 3}

{1, 2, 3}

In [146]:
{1,1,1,1,1,1,1,1,1,1,1,1,1, 2,2,2,2,2,2,2,2, 3,3,3,3,3}  # it wont allow duplicates

{1, 2, 3}

In [148]:
set(['Tokyo','Calcutta', 'California', 'Tokyo', 1, 2, 3, 3, 1, 'California'])
# set function will only return the unique elemnents

{1, 2, 3, 'Calcutta', 'California', 'Tokyo'}

In [149]:
s = {1, 2, 3}

In [150]:
s.add(4) # adding elements to existing set

In [151]:
s

{1, 2, 3, 4}

Booleans

In [158]:
1 < 2

True

In [154]:
1 <= 1

True

In [155]:
1 == 1

True

In [156]:
1 == 2

False

In [160]:
1 != 2  # 1 not equal to 2

True

In [164]:
'hi' == 'hi'

True

In [165]:
'hi' == 'bye'

False

In [166]:
 'hi' != 'bye'

True

## Python Logical Operators

AND

In [167]:
1 < 2 and 2 < 3   # True + True = True

True

In [169]:
1 < 2 and 2 > 3  # True + False = False

False

In [171]:
1 > 2 and 3 > 4  # False + False = False

False

OR

In [172]:
1 < 2 or 2 > 3 or 1 == 1   # one of these has to be true, or else it will be false

True

In [173]:
True or False

True

In [175]:
True and False

False

## Condition Statements

if

In [178]:
if 1 < 2:
    print('yep!')

yep!

if else

In [183]:
if 1 == 2:
    print('No')
else:
    print('Yes')

Yes

if elif else

In [186]:
if 1 == 2:
    print('First')
elif 3 == 3:                                 # only the first True statement here in this case will get executed
    print('Second')
elif 4 == 4:
    print('Third')
else:
    print('last')

Second

# Loops

for

In [187]:
seq = [1, 2, 3, 4, 5]

In [191]:
for ints in seq:
    print(ints)

1
2
3
4
5

while

In [1]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

# Useful Python Functions

Range Function

In [5]:
range(0, 5)

range(0, 5)

In [15]:
for x in range(0, 5):  
    print(x)

0
1
2
3
4

List Functions

In [16]:
list(range(0, 5))  # converts anything into list

[0, 1, 2, 3, 4]

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
x = [1, 2, 3, 4]

In [21]:
out = []                   

for num in x:
    out.append(num**2)

In [22]:
print(out)

[1, 4, 9, 16]

In [24]:
out = [num**2 for num in x]   # list comprehension

# Defining Function in Python

In [25]:
def my_func(param):
    print(param1)

In [27]:
my_func('hello')

hello

In [39]:
def name_func(name='u'): # we can assign value to our name here as well and make it our default value
    print('Hello '+name)

In [44]:
name_func()

Hello u

In [38]:
name_func(name='X')  # we can set another value to our function like this

Hello X

In [51]:
def square(num):
    """
    THIS FUNCTION SQUARES A NUMBER
    
    """
    return num**2  # when we use return we have to set its value to some other variable

In [52]:
output = square(2)

In [54]:
print(output)

4

## Map and Filter Functions

In [55]:
def times2(var):
    return var * 2

In [56]:
times2(5)

10

map()

In [57]:
seq = [1,2,3,4,5]

In [59]:
map(times2, seq) # map is stored in memory '0x17b075f4df0'
# map(name_of_function, with_what_we_will_perform_the_function_on)

In [60]:
## use it within built-in list function
list(map(times2, seq))

[2, 4, 6, 8, 10]

Lambda Expressions

In [77]:
# def times2(var):
#     return var * 2 
# can be written like this:

In [78]:
def times2(var):return var*2

In [79]:
# or can be written as a lambda expression like:

In [82]:
lambda var:var*2

In [84]:
t = lambda var : var*2

In [85]:
t(6) # we can still use times2 function without even defining it

12

In [86]:
list(map(lambda num: num*3, seq))  # same seq using map and lambda expression to get now multiples of 3

[3, 6, 9, 12, 15]

filter()

In [87]:
list(filter(lambda num: num%2 == 0,seq))   # filtered out the list and gave only the even numbers as output

[2, 4]

Some String Functions

In [98]:
s = 'Hello my name is Sujita'

In [99]:
s.lower()

'hello my name is sujita'

In [100]:
s.upper()

'HELLO MY NAME IS SUJITA'

In [101]:
s.split() # split on the basis of white space

['Hello', 'my', 'name', 'is', 'Sujita']

In [102]:
tweet = 'Go sports! #Sports'

In [107]:
tweet.split('#')  # this will split the string where it will find hashtag

['Go sports! ', 'Sports']

In [108]:
tweet.split('#')[1]  # indexing

'Sports'

Dictionary Functions

In [112]:
d = {'k1': 1, 'k2': 2}

In [113]:
d.keys()  # this will return the keys of the dictionary

dict_keys(['k1', 'k2'])

In [114]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [115]:
d.values()

dict_values([1, 2])

List functions

In [116]:
lst = [1, 2, 3]

In [118]:
lst.pop() # this will remove the last element from a list by default

3

In [120]:
lst

[1, 2]

In [121]:
lst = [1, 2, 3, 4, 5]

In [122]:
item = lst.pop() # we can assign the removed value to any variable

In [123]:
lst

[1, 2, 3, 4]

In [124]:
item

5

In [125]:
first = lst.pop(0) # we can also remove any element from the list by its index and assign it to any variable

In [126]:
lst

[2, 3, 4]

In [127]:
first

1

# In Operator (Returns Boolean)

In [129]:
'x' in [1, 2, 3]

False

In [130]:
'x' in ['x', 1, 2, 3]

True

# Tuple Unpacking

In [131]:
x = [(1, 2),(3, 4), (5, 6)]    # a list of tuples

In [132]:
x[0] # indexing

(1, 2)

In [133]:
x[0][0] # further indexing

1

In [134]:
for items in x:           
    print (items)

(1, 2)
(3, 4)
(5, 6)

In [136]:
for a,b in x:           # tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6